@model Model.Custom.RespuestaGridView.RespuestaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Informe Individual</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/mdb/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/mdb/css/style.css" rel="stylesheet">
    <style type="text/css">       
        tr {
            page-break-inside: avoid !important;
        }
    </style>
</head>

<body>

    <!-- Start your project here-->
    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/mdb/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/mdb/js/mdb.min.js"></script>



    <h2 align="center">Informe Individual</h2>
    <div class="row">
        <div class="col-md-4">
            <p> <strong>Evaluado por:</strong> @Model.Evaluador.Name @Model.Evaluador.Name</p>
        </div>
        <div class="col-md-4">
            <p> <strong>Email:</strong> @Model.Evaluador.Email</p>
        </div>
        <div class="col-md-4">
            <p> <strong>Evaluado el:</strong> @Model.Respuesta.FechaCreacion</p>

        </div>
    </div>
    <div class="col-md-3">
        <table>
            <tbody>
                <tr>
                    <td style="width: 20%">
                        <strong>Evaluado:</strong>
                    </td>
                    <td style="width: 80%">
                        @Model.Evaluado.Name @Model.Evaluado.LastName
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <strong>Identificación:</strong>
                    </td>
                    <td style="width: 80%">
                        @Model.Evaluado.Identification
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <strong>Email:</strong>
                    </td>
                    <td style="width: 80%">
                        @Model.Evaluado.Email
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <strong>Area:</strong>
                    </td>
                    <td style="width: 80%">
                        @Model.Evaluado.NombreArea
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <strong>Cargo:</strong>
                    </td>
                    <td style="width: 80%">
                        @Model.Evaluado.NombreCargo
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 align="center">Respuestas de @Model.Evaluacion.Nombre</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:50%">Competencias</th>
                        <th>Nivel requerido</th>
                        <th>Resultado Final</th>
                        <th>Brecha</th>
                        <th style="width:5%">Comentario</th>
                        <th style="width:2%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Detalles)
                    {
                        <tr>
                            <td><p>@item.EnunciadoPregunta</p></td>
                            <td>
                                @item.ValorRequerido
                            </td>
                            <td>
                                @item.ResultadoFinal
                            </td>
                            <td>
                                @item.Brecha
                            </td>
                            <td>
                                @if (Convert.ToInt16(item.ResultadoFinal) >= 0 && Convert.ToInt16(item.ResultadoFinal) <= 69)
                                {
                                    <p>OPORTUNIDAD</p>
                                }
                                else if (Convert.ToInt16(item.ResultadoFinal) >= 70 && Convert.ToInt16(item.ResultadoFinal) <= 79)
                                {
                                    <p>DESARROLLADA</p>
                                }
                                else if (Convert.ToInt16(item.ResultadoFinal) >= 80 && Convert.ToInt16(item.ResultadoFinal) <= 100)
                                {
                                    <p>FORTALEZA</p>

                                }
                            </td>
                            <td>
                                @if (Convert.ToInt16(item.ResultadoFinal) >= 0 && Convert.ToInt16(item.ResultadoFinal) <= 69)
                                {
                                    <span class="fa fa-circle" style="color: red; font-size: 30px"></span>
                                }
                                else if (Convert.ToInt16(item.ResultadoFinal) >= 70 && Convert.ToInt16(item.ResultadoFinal) <= 79)
                                {
                                    <span class="fa fa-circle" style="color: yellow; font-size: 30px"></span>
                                }
                                else if (Convert.ToInt16(item.ResultadoFinal) >= 80 && Convert.ToInt16(item.ResultadoFinal) <= 100)
                                {
                                    <span class="fa fa-circle" style="color: green; font-size: 30px"></span>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row">       
        <div class="col-md-12 text-center">
            <img id="radar" src="@Model.Grafica" />
        </div>
    </div>
</body>

</html>

