@{
    ViewBag.Title = "Formularios";
}

<h2>Formularios</h2>
<div id="example">
    <div id="grid"></div>

    <script>

        $(document).ready(function () {
            var crudServiceBaseUrl = location.pathname.split("/");
            var local = location.protocol + '//' + location.host + "/Pregunta";
            var crudServiceBaseUrlForm = document.location,
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read:  {
                            url: '@Url.Action("Read","Formulario")',
                            dataType: "Json"
                        },
                        update: {
                            url: '@Url.Action("Crud","Formulario", new {op="Update"})',
                            dataType: "Json"
                        },
                        destroy: {
                            url:  '@Url.Action("Crud","Formulario", new {op="Delete"})',
                            dataType: "Json"
                        },
                        create: {
                            url:  '@Url.Action("Crud","Formulario", new {op="Create"})',
                            dataType: "Json"
                        },
                        parameterMap: function(options, operation) {
                            if (operation !== "read" && options.models) {
                                return {models: kendo.stringify(options.models)};
                            }
                        }
                    },
                    requestEnd: function(e) {
                        if (e.type == "update" || e.type == "create") {
                            this.read();
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "IdFormulario",
                            fields: {
                                IdFormulario: { type: "number", editable: false, validation: { min: 0 } },
                                Nombre: { validation: { required: true } }
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                pageable: true,
                toolbar: [
                    { name: 'create', text: 'Nuevo' },
                    { name: 'save', text: 'Guardar' },
                    { name: 'cancel', text: 'Descartar' }
                ],
                columns: [
                    { field: "IdFormulario", title: "ID", width: 40 },
                    { field: "Nombre", title: "Nombre Formulario"},
                    { field: "IdFormulario", title: "Detalles", template: "<a class='btn btn-info' href='" + '@Url.Action("FormDetalles","Formulario")' + "?id=#:IdFormulario#'>Detalles Formulario</a>" },
                    { field: "IdFormulario", title: "Agregar Preguntas", template: "<a class='btn btn-info' href='" + '@Url.Action("Index","Pregunta")' + "?id=#:IdFormulario#'>Agregar Preguntas</a>" },
                    { command: [{ className: "btn-destroy", name: "destroy", text: "Eliminar" }]}],
                editable: true
            });
        });

    </script>
</div>